include CHANGELOG.md CONTRIBUTING.md README.md SECURITY.md THIRD_PARTY.md
recursive-include LICENSES *.txt
recursive-include .github/workflows *.yml
recursive-include docs *.md
recursive-include examples/minimal *.md *.py
recursive-include examples/full *.html *.ipynb *.md *.py
recursive-include scripts *.py
recursive-include tests *.html *.py
include package.json package-lock.json
