{% extends "base.html" %}
{% block title %}Archives — {{ SITENAME | forceescape }}{% endblock title %}
{% block content_header %}<h1>Archives</h1>{% endblock content_header %}
{% block content %}
  {% if dates %}<ol class="pet-archive-list">
    {% for article in dates %}
      <li><time datetime="{{ article.date.date().isoformat() | forceescape }}">{{ article.locale_date | forceescape }}</time> <a href="{{ (SITEURL ~ '/' ~ article.url) | forceescape }}">{{ article.title | striptags | forceescape }}</a></li>
    {% endfor %}
  </ol>{% else %}<p>No archived articles are available.</p>{% endif %}
{% endblock content %}
